<app-top-bar></app-top-bar>
<div id="menuBlock" class="wide78" data-tracking-category="Header" data-tracking-action="Clic rubriques">
  <div class="mainPadding">
    <a routerLink="/" data-tracking-action="Clic logo" class="tracking-click">

      <a href="index.html"><img class="headerLogo notSticky" src="/assets/img/logo.png" alt="logo"></a>
      <img class="headerLogo stickyOnly" src="/assets/img/logo-sticky.png" alt="logo">
    </a>

    <nav>
      <ul class="mobileOnly search">
        <li>
          <form action=" rechercher">
            <button type="submit"></button>
            <input type="text" name="q" placeholder="Recherche" />
          </form>
        </li>
      </ul>

      <ul class="subMenuStyleGolden">
        <li class="nav-text">
          <i class="fa icon-arrow"></i>
          <a routerLink="/" class="navItem tracking-click" data-tracking-label="mtavari">მთავარი</a>
        </li>
        <li class="nav-text">
          <i class="fa icon-arrow"></i> <a routerLink="/blog" class="navItem tracking-click">ბლოგი</a>
        </li>
        <li class="nav-text">
          <i class="fa icon-arrow"></i> <a href="/services" class="navItem tracking-click" data-tracking-label="services">სერვისები</a>
        </li>
        <li class="nav-text">
          <i class="fa icon-arrow"></i> <a href="/produits" class="navItem tracking-click" data-tracking-label="team">გუნდი</a>
        </li>
        <li class="nav-text">
          <i class="fa icon-arrow"></i> <a href="/tag/coiffure_t1/1" class="navItem tracking-click" data-tracking-label="Gallery">გალერეა</a>
        </li>
        <li class="nav-text">
          <i class="fa icon-arrow"></i> <a href="/tag/coloration_t23/1" class="navItem tracking-click" data-tracking-label="about us">ჩვენს შესახებ</a>
        </li>
        <li class="nav-text">
          <i class="fa icon-arrow"></i> <a href="/tag/soins_t30/1" class="navItem tracking-click" data-tracking-label="Contact">კონტაქტი</a>
        </li>
      </ul>

    </nav>

  </div>
</div>
