<div class="home" id="wb_body">
  <div id="wb_wrapper">
    <app-header></app-header>
    <div id="pageContent">

      <div id="mobileMenuBlock" class="wide78" data-tracking-category="Header" data-tracking-action="Clic rubriques">
        <div class="mainPadding">
          <div id="mobileMenuBlock__button">
            <a class="locationButton"></a>
          </div>
          <a href="/" class="headerLogoMobileWrapper">
            <img src="/web/skins/images/logo.png" class="headerLogoMobile"></a>
          <a class="mobileMenuButton fontAwesome">
            <span class="fa fa-bars"></span>
          </a>
        </div>
      </div>



      <div class="wide80 lineHeight0">
        <div class="carusel">
          <div class="positionRel">
            <div class="positionRel hpSlider">
              <span class="hrl 45CBCBC0C21322BA1321B41321B4CCCCCC194D434A49484FC346C24B4AC4464B19424F4E1321B44AC1CB464248431321B41E4F49C44AC0C143494BC143C24F46494B43C44FC3C23F4A2C2B2B2C1321B42A hpSlide positionRel">
                                    <picture>
                                        <source media="(max-width: 640px)"
                                                srcset="https://static1.jeanlouisdavid.com/teasers/5/14/05/@/21149609-0-21149609-2020-04-site-reouverture-home-jld-1280x450-bis-375x225-1.jpg">
                                        <source media="(max-width: 1023px)"
                                                srcset="https://static1.jeanlouisdavid.com/teasers/5/14/05/@/21149609-0-21149609-2020-04-site-reouverture-home-jld-1280x450-bis-768x279-1.jpg">
                                        <img src="https://static1.jeanlouisdavid.com/teasers/5/14/05/@/21149609-0-21149609-2020-04-site-reouverture-home-jld-1280x450-bis-1280x450-1.jpg"
                                             alt=""> </picture>
                                    <div class="blockInfo blockInfoViewerImg">
                                        <div class="title">
                                            #ONVAPRENDRESOINDEVOUS
                                            <span>Conformément aux recommandations sanitaires en vigueur, nos salons de
                                                coiffure mettent tout en œuvre pour vous recevoir dans des conditions
                                                sanitaires parfaitement sûres.</span>
                            </div>
                            <div class="counter"></div>
                            <div class="line"></div>
                        </div>
                        </span>
            </div>
            <div class="blockPointsMobile blockPointHeight">
              <div class="pointLeft pointLeft--hp"></div>
              <div class="pointRight pointRight--hp"></div>
            </div>
          </div>
          <div class="blockInfo blockInfoViewer">
            <div class="blockPoints ">
              <div class="pointLeft pointLeft--hp"></div>
              <div class="pointRight pointRight--hp"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="hpNewsBlock wide78 paddingBottom2">
        <div id="newsBlockMain">
          <div class="">
            <div class="mainPadding">
              <h2 class="h1 hpGridHeader">à la une</h2>

              <div class="hpLatest grids hpGrid clearfix">

                <div class="articleBlock1 hpArticleBlock" data-index="0" data-tracking-label="Comment protéger mes cheveux du soleil tout en restant stylée cet été ?">

                  <div class="infoBlock">
                    <div class="typeInfo">Soins solaires</div>
                    <a href="/article/comment-proteger-mes-cheveux-du-soleil-tout-en-restant-stylee-cet-ete_a7450/1" class="title">Comment protéger mes cheveux du soleil tout en
                      restant...</a>
                  </div>

                  <span class="hrl 1321B44AC1CB464248431321B4424F4E4E4349CB1EC0C14FCB434C43C11E4E43C21E424543C443C3C51E4BC31EC24F484346481ECB4FC3CB1E43491EC143C2CB4A49CB1EC2CBC64843431E4243CB1E43CB433F4A2C2B23201321B42A">
                                            <picture>
                                                <source media="(max-width: 640px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-342x240-1.jpg">
                                                <source media="(max-width: 1023px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-344x240-1.jpg">
                                                <img src="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-373x240-1.jpg"
                                                     alt="Comment protéger mes cheveux du soleil tout en restant stylée cet été ?">
                                            </picture>
                                        </span>
                  <p>L'été est la saison que vos cheveux redoutent le plus. Pourtant, rassurez-vous : rester stylée tout en protégeant vos cheveux sur la plage, c'est possible ! Adaptez votre routine capillaire...</p>
                </div>

                <div class="articleBlock1 hpArticleBlock" data-index="1" data-tracking-label="Charte Sécurité, Hygiène &amp; Santé">

                  <div class="infoBlock">
                    <div class="typeInfo">Actualités</div>
                    <a href="/article/-onvaprendresoindevous_a7447/1" class="title">Charte
                      Sécurité, Hygiène & Santé</a>
                  </div>

                  <span class="hrl 1321B44AC1CB464248431321B41E4F49C44AC0C143494BC143C24F46494B43C44FC3C23F4A2C2B2B2C1321B42A">
                                            <picture>
                                                <source media="(max-width: 640px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/7/74/47/@/14665--onvaprendresoindevous-342x240-1.jpg">
                                                <source media="(max-width: 1023px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/7/74/47/@/14665--onvaprendresoindevous-344x240-1.jpg">
                                                <img src="https://static1.jeanlouisdavid.com/articles/7/74/47/@/14665--onvaprendresoindevous-373x240-1.jpg"
                                                     alt="Charte Sécurité, Hygiène &amp; Santé"> </picture>
                                        </span>
                  <p>#ONVAPRENDRESOINDEVOUS 1. À VOTRE ARRIVÉE DANS LE SALON, utilisez le gel hydro-alcoolique à votre disposition pour vous désinfecter les mains. RENOUVELEZ la désinfection aussi souvent que souhaité...</p>
                </div>

                <div class="articleBlock2 hpArticleBlock" data-index="2" data-tracking-label="Vrai-faux sur le masque capillaire">
                  <div class="table">
                    <div class="tableCell">
                                    <span class="hrl 1321B44AC1CB464248431321B4C4C14A461E444AC3C51EC2C3C11E48431E4E4AC2CAC3431E424AC04648484A46C1433F4A2C20201321B42A">
                                                    <div class="borderBlock">
                                                        <picture>
                                                            <source media="(max-width: 640px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/0/70/0/@/14656-vraux-faux-sur-le-masque-capillaire-85x85-2.jpg">
                                                            <source media="(max-width: 1023px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/0/70/0/@/14656-vraux-faux-sur-le-masque-capillaire-170x150-2.jpg">
                                                            <img src="https://static1.jeanlouisdavid.com/articles/0/70/0/@/14656-vraux-faux-sur-le-masque-capillaire-170x190-2.jpg"
                                                                 alt="Vrai-faux sur le masque capillaire"> </picture>
                                                        <div class="border"><img
                                                          src="/web/skins/images/border_line.png"></div>
                                                    </div>
                                                </span> </div>
                    <div class="infoBlock">
                      <div class="typeInfo">
                        Soins

                      </div>
                      <a href="/article/vrai-faux-sur-le-masque-capillaire_a700/1" class="title">Vrai-faux sur le masque capillaire</a>

                      <p>Pour utiliser votre masque capillaire à bon escient, voici un vrai-faux pour vous faire oublier toutes les idées reçues que vous avez sur ce précieux produit cosmétique. Le masque capillaire...</p>

                    </div>
                  </div>
                </div>




                <div class="articleBlock2 hpArticleBlock" data-index="6" data-tracking-label="Masque capillaire : combien de temps dois-je le laisser poser ?">
                  <div class="table">
                    <div class="tableCell">
                                    <span class="hrl 1321B44AC1CB464248431321B44E4AC2CAC3431E424AC04648484A46C1431E424F4E414643491E4B431ECB434EC0C21E4B4F46C21E4D431E48431E484A46C2C243C11EC04FC243C13F4A2C2221211321B42A">
                                                    <div class="borderBlock">
                                                        <picture>
                                                            <source media="(max-width: 640px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/2/73/22/@/14225-top-chrono-a-vos-masques-85x85-1.png">
                                                            <source media="(max-width: 1023px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/2/73/22/@/14225-top-chrono-a-vos-masques-170x150-1.png">
                                                            <img src="https://static1.jeanlouisdavid.com/articles/2/73/22/@/14225-top-chrono-a-vos-masques-170x190-1.png"
                                                                 alt="Masque capillaire : combien de temps dois-je le laisser poser ?">
                                                        </picture>
                                                        <div class="border"><img
                                                          src="/web/skins/images/border_line.png"></div>
                                                    </div>
                                                </span> </div>
                    <div class="infoBlock">
                      <div class="typeInfo">
                        Soins

                      </div>
                      <a href="/article/masque-capillaire-combien-de-temps-dois-je-le-laisser-poser_a7322/1" class="title">Masque capillaire : combien de temps dois-je le
                        laisser poser ?</a>

                      <p>On vous vante les bienfaits du masque capillaire à longueur de journée. Pourtant, une zone d'ombre demeure : combien de temps faut-il le laisser poser ? Une nuit, une heure, une minute ? Jean Louis...
                      </p>

                    </div>
                  </div>
                </div>

              </div>
              <a href="/livenews/1" class="moreNews">Plus de news</a>
            </div>
          </div>
        </div>

        <div class="sidebar">
          <div class="sidebarWrap">
            <div class="singleBanner">
              <div class="item special">
                        <span target="_self" class="hrl 1321B4CB4A4C1321B4454F4E4E433FCB2B2B1321B42A">
                                        <picture>
                                            <source media="(max-width: 640px)"
                                                    srcset="https://static1.jeanlouisdavid.com/teasers/3/17/3/@/20868941-0-20868941-2020-03-jld-website-maj-home-push-homme-455x370-343x303-1.jpg">
                                            <source media="(max-width: 1023px)"
                                                    srcset="https://static1.jeanlouisdavid.com/teasers/3/17/3/@/20868941-0-20868941-2020-03-jld-website-maj-home-push-homme-455x370-402x215-1.jpg">
                                            <img src="https://static1.jeanlouisdavid.com/teasers/3/17/3/@/20868941-0-20868941-2020-03-jld-website-maj-home-push-homme-455x370-374x303-1.jpg"
                                                 alt=""> </picture>

                                        <div class="textBanner">
                                            <div class="info">TENDANCES</div>
                                            <div class="text">HOMME</div>
                                        </div>
                                        <span target="_self"
                                              class="hrl 1321B4CB4A4C1321B4454F4E4E433FCB2B2B1321B42A buttonGold">
                                            Découvrez les tendances Homme
                                        </span>
                        </span>
              </div>
            </div>
            <div class="wrap tracking-click-parent hpArticles" data-tracking-category="Les plus lus" data-tracking-action="Clic articles">
              <h2>Les plus lus</h2>

              <div class="articlePreviewBlock">
                <div class="articlePreview" data-tracking-label="Quelles différences entre des mèches et un balayage ?">
                            <span class="hrl 1321B44AC1CB464248431321B4CAC343484843C21E4B46444443C143494243C21E4349CBC1431E4B43C21E4E43424543C21E43CB1EC3491E414A484AC64A4C433F4A2122262A1321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/1/23/91/@/3661-quelles-differences-entre-des-meches-article_preview-2.jpg"
                                                 alt="Quelles différences entre des mèches et un balayage ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
                  <div class="articleDescription">
                    <p class="category">
                      Coloration
                    </p>

                    <p class="articleTitle">
                      <a href="/article/quelles-differences-entre-des-meches-et-un-balayage_a2391/1">
                        <span>Quelles différences entre des mèches et un balayage ?</span>
                      </a>
                    </p>
                  </div>
                </div>
                <div class="articlePreview" data-tracking-label="Boucler mes cheveux lisses de façon permanente, une bonne idée ?">
                            <span class="hrl 1321B44AC1CB464248431321B4414FC3424843C11E4E43C21E424543C443C3C51E4846C2C243C21E4B431E444A424F491EC043C14E4A494349CB431EC349431E414F4949431E464B43433F4A212421231321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/5/26/25/@/4385-boucler-mes-cheveux-lisses-de-facon-article_preview-2.jpg"
                                                 alt="Boucler mes cheveux lisses de façon permanente, une bonne idée ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
                  <div class="articleDescription">
                    <p class="category">
                      Coiffure
                    </p>

                    <p class="articleTitle">
                      <a href="/article/boucler-mes-cheveux-lisses-de-facon-permanente-une-bonne-idee_a2625/1">
                                        <span>Boucler mes cheveux lisses de façon permanente, une
                                                        bonne...</span>
                      </a>
                    </p>
                  </div>
                </div>
                <div class="articlePreview" data-tracking-label="Cheveux fins : comment choisir ma coupe pour obtenir plus de volume ?">
                            <span class="hrl 1321B44AC1CB464248431321B4424543C443C3C51E444649C21E424F4E4E4349CB1E42454F46C246C11E4E4A1E424FC3C0431EC04FC3C11E4F41CB434946C11EC048C3C21E4B431EC44F48C34E433F4A21222C2A1321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/1/23/71/@/3631-cheveux-fins-comment-choisir-ma-coupe-article_preview-2.jpg"
                                                 alt="Cheveux fins : comment choisir ma coupe pour obtenir plus de volume ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
                  <div class="articleDescription">
                    <p class="category">
                      Coiffure
                    </p>

                    <p class="articleTitle">
                      <a href="/article/cheveux-fins-comment-choisir-ma-coupe-pour-obtenir-plus-de-volume_a2371/1">
                                        <span>Cheveux fins : comment choisir ma coupe pour obtenir
                                                        plus...</span>
                      </a>
                    </p>
                  </div>
                </div>
                <div class="articlePreview" data-tracking-label="Coloration cheveux gris : faut-il oser la tendance ?">
                            <span class="hrl 1321B44AC1CB464248431321B4424F484FC14ACB464F491E424543C443C3C51E4CC146C21E444AC3CB1E46481E4FC243C11E484A1ECB43494B4A4942433F4A222B2B2C1321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/7/34/47/@/6972-adoptee-sur-les-podiums-la-coloration-g-article_preview-1.jpg"
                                                 alt="Coloration cheveux gris : faut-il oser la tendance ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
                  <div class="articleDescription">
                    <p class="category">
                      Coloration
                    </p>

                    <p class="articleTitle">
                      <a href="/article/coloration-cheveux-gris-faut-il-oser-la-tendance_a3447/1">
                        <span>Coloration cheveux gris : faut-il oser la tendance ?</span>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="wide80">
      <div id="adviceExperts">
        <div class="clearfix">
          <div class="wide78">
            <h2>Découvrez tous les conseils d’experts Jean-Louis David</h2>
          </div>

          <div class="adviceCarousel clearfix">
            <div class="advice ">
                        <span class="hrl 1321B44AC1CB464248431321B4424F4E4E4349CB1EC1434A4846C243C11E4B43C21E414FC3424843C21E484A424543C21E43CB1E4843C21E444A46C1431ECB434946C13F4A24222C2C1321B42A">
                                        <div class="carousel-block">
                                            <div class="blockGradient">
                                                <picture>
                                                    <source media="(max-width: 640px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/32/@/19542242-0-19542242-4-268x515-1.png">
                                                    <source media="(max-width: 1023px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/32/@/19542242-0-19542242-4-284x481-1.png">
                                                    <img class="grayscale"
                                                         src="https://static1.jeanlouisdavid.com/teasers/2/12/32/@/19542242-0-19542242-4-274x515-1.png"
                                                         alt="Comment réaliser des boucles lâches et les faire tenir ?">
                                                </picture>

                                                <div class="gradient"></div>
                                            </div>
                                            <div class="info">
                                                <a href="/article/comment-realiser-des-boucles-laches-et-les-faire-tenir_a6377/1"
                                                   class="title"><span>Comment réaliser des boucles lâches et les faire
                                                        tenir ?</span></a>
                        <p>Par notre expert Vanessa Giani</p>
                        <p class="button">Voir le conseil</p>
                    </div>

                </div>
                </span>
            </div>
            <div class="advice ">
                <span class="hrl 1321B44AC1CB464248431321B4424F4E4E4349CB1EC1434A4846C243C11EC349431ECAC343C3431E4B431E424543C44A481E4C4AC344C143433F4A24222A2C1321B42A">
                                        <div class="carousel-block">
                                            <div class="blockGradient">
                                                <picture>
                                                    <source media="(max-width: 640px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/7/12/37/@/19542245-0-19542245-5-268x515-1.png">
                                                    <source media="(max-width: 1023px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/7/12/37/@/19542245-0-19542245-5-284x481-1.png">
                                                    <img class="grayscale"
                                                         src="https://static1.jeanlouisdavid.com/teasers/7/12/37/@/19542245-0-19542245-5-274x515-1.png"
                                                         alt="Comment réaliser une queue-de-cheval gaufrée ?"> </picture>

                                                <div class="gradient"></div>
                                            </div>
                                            <div class="info">
                                                <a href="/article/comment-realiser-une-queue-de-cheval-gaufree_a6317/1"
                                                   class="title"><span>Comment réaliser une queue-de-cheval gaufrée
                                                        ?</span></a>
                <p>Par notre expert Vanessa Giani</p>
                <p class="button">Voir le conseil</p>
            </div>

        </div>
        </span>
            </div>
            <div class="advice ">
        <span class="hrl 1321B44AC1CB464248431321B4221E424F49C2434648C21EC04FC3C11EC2431E4E4ACAC346484843C11E4AC443421EC349431E44C14A494C431EC1464B434AC33F4A222B252A1321B42A">
                                        <div class="carousel-block">
                                            <div class="blockGradient">
                                                <picture>
                                                    <source media="(max-width: 640px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/42/@/19542248-0-19542248-6-268x515-1.png">
                                                    <source media="(max-width: 1023px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/42/@/19542248-0-19542248-6-284x481-1.png">
                                                    <img class="grayscale"
                                                         src="https://static1.jeanlouisdavid.com/teasers/2/12/42/@/19542248-0-19542248-6-274x515-1.png"
                                                         alt="3 conseils pour se maquiller avec une frange rideau">
                                                </picture>

                                                <div class="gradient"></div>
                                            </div>
                                            <div class="info">
                                                <a href="/article/3-conseils-pour-se-maquiller-avec-une-frange-rideau_a3481/1"
                                                   class="title"><span>3 conseils pour se maquiller avec une frange
                                                        rideau</span></a>
        <p>Par notre expert Vanessa Giani</p>
        <p class="button">Voir le conseil</p>
    </div>

    </div>
    </span>
            </div>
            <div class="advice expert-info">
        <span class="hrl 1321B443C5C043C1CBC21321B4C44A4943C2C24A1E4C464A49463FCB2C231321B42A">
                                        <div class="carousel-block">
                                            <div class="blockGradient">
                                                <picture>
                                                    <source media="(max-width: 640px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/62/@/12869692-0-expert-268x515-1.png">
                                                    <source media="(max-width: 1023px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/62/@/12869692-0-expert-284x481-1.png">
                                                    <img class="grayscale"
                                                         src="https://static1.jeanlouisdavid.com/teasers/2/12/62/@/12869692-0-expert-274x515-1.png"
                                                         alt="Responsable formation"> </picture>

                                                <div class="gradient"></div>
                                            </div>
                                            <div class="info">
                                                <a href="/experts/vanessa-giani_t75/1" class="title"><span>L’expert du
                                                        mois</span></a>
        <div class="desc">
            <p>Vanessa Giani</p>
            <p>Responsable formation</p>
            <p class="button">Découvrez l’expert du mois</p>
        </div>
    </div>

    </div>
    </span>
            </div>
            <div class="advice ">
        <span class="hrl 1321B44AC1CB464248431321B4424543C443C3C51E4ACBCB4A424543C21ECB4FC3C21E494FC21E424F49C2434648C21E424F464444C3C143C23F4A21252C2C1321B42A">
                                        <div class="carousel-block">
                                            <div class="blockGradient">
                                                <picture>
                                                    <source media="(max-width: 640px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/7/12/47/@/19542251-0-19542251-1-268x515-1.png">
                                                    <source media="(max-width: 1023px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/7/12/47/@/19542251-0-19542251-1-284x481-1.png">
                                                    <img class="grayscale"
                                                         src="https://static1.jeanlouisdavid.com/teasers/7/12/47/@/19542251-0-19542251-1-274x515-1.png"
                                                         alt="Cheveux attachés : tous nos conseils coiffures"> </picture>

                                                <div class="gradient"></div>
                                            </div>
                                            <div class="info">
                                                <a href="/article/cheveux-attaches-tous-nos-conseils-coiffures_a2877/1"
                                                   class="title"><span>Cheveux attachés : tous nos conseils
                                                        coiffures</span></a>
        <p>Par notre expert Vanessa Giani</p>
        <p class="button">Voir le conseil</p>
    </div>

    </div>
    </span>
            </div>
            <div class="advice ">
        <span class="hrl 1321B44AC1CB464248431321B4424F484FC14ACB464F491E41484F494B431E42454F46C246C2C243CD1E484A1E49C34A4942431E4B431E41484F494B1E444A46CB431EC04FC3C11EC44FC3C23F4A242425261321B42A">
                                        <div class="carousel-block">
                                            <div class="blockGradient">
                                                <picture>
                                                    <source media="(max-width: 640px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/52/@/19542254-0-19542254-2-268x515-1.png">
                                                    <source media="(max-width: 1023px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/2/12/52/@/19542254-0-19542254-2-284x481-1.png">
                                                    <img class="grayscale"
                                                         src="https://static1.jeanlouisdavid.com/teasers/2/12/52/@/19542254-0-19542254-2-274x515-1.png"
                                                         alt="Coloration blonde : choisissez la nuance de blond faite pour vous">
                                                </picture>

                                                <div class="gradient"></div>
                                            </div>
                                            <div class="info">
                                                <a href="/article/coloration-blonde-choisissez-la-nuance-de-blond-faite-pour-vous_a6689/1"
                                                   class="title"><span>Coloration blonde : choisissez la nuance de
                                                        blond faite pour vous</span></a>
        <p>Par notre expert Vanessa Giani</p>
        <p class="button">Voir le conseil</p>
    </div>

    </div>
    </span>
            </div>
            <div class="advice ">
        <span class="hrl 1321B44AC1CB464248431321B4454F4E4E431E424F4E4E4349CB1EC2C34148464E43C11EC44FCBC1431E424543C44348C3C1431EC04F46C4C1431E43CB1EC243483F4A2423262C1321B42A">
                                        <div class="carousel-block">
                                            <div class="blockGradient">
                                                <picture>
                                                    <source media="(max-width: 640px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/7/12/57/@/19542257-0-19542257-3-268x515-1.png">
                                                    <source media="(max-width: 1023px)"
                                                            srcset="https://static1.jeanlouisdavid.com/teasers/7/12/57/@/19542257-0-19542257-3-284x481-1.png">
                                                    <img class="grayscale"
                                                         src="https://static1.jeanlouisdavid.com/teasers/7/12/57/@/19542257-0-19542257-3-274x515-1.png"
                                                         alt="Homme : comment sublimer votre chevelure poivre et sel ?">
                                                </picture>

                                                <div class="gradient"></div>
                                            </div>
                                            <div class="info">
                                                <a href="/article/homme-comment-sublimer-votre-chevelure-poivre-et-sel_a6597/1"
                                                   class="title"><span>Homme : comment sublimer votre chevelure poivre
                                                        et sel ?</span></a>
        <p>Par notre expert Vanessa Giani</p>
        <p class="button">Voir le conseil</p>
    </div>

    </div>
    </span>
            </div>
          </div>

          <div class="wide78 padding">
            <a href="/experts" class="moreNews">Voir plus de conseils d’experts</a>
          </div>
        </div>
      </div>
    </div>


    <div id="expertBlock" class="hpExpertBlock">
      <div class="wide78">

      </div>
    </div>


    <app-footer></app-footer>

  </div>
  <!-- /wb_footer -->
</div>
<!-- /wb_contents -->
