<div id="htopBarBlock" class="container-fluid" data-tracking-category="Header" data-tracking-action="Clic rubriques">
  <div class="wide78">
    <div id="topBar" class="searchActive">
      <ul class="topBarMenu booking">
        <li>
          <a href="https://reservations.jeanlouisdavid.com" target="_blank">
            <div>
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 485.213 485.212" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                                            <g>
                                                <path d="M60.652,75.816V15.163C60.652,6.781,67.433,0,75.817,0c8.38,0,15.161,6.781,15.161,15.163v60.653
                                                c0,8.38-6.781,15.161-15.161,15.161C67.433,90.978,60.652,84.196,60.652,75.816z M318.424,90.978
                                                c8.378,0,15.163-6.781,15.163-15.161V15.163C333.587,6.781,326.802,0,318.424,0c-8.382,0-15.168,6.781-15.168,15.163v60.653
                                                C303.256,84.196,310.042,90.978,318.424,90.978z M485.212,363.906c0,66.996-54.312,121.307-121.303,121.307
                                                c-66.986,0-121.302-54.311-121.302-121.307c0-66.986,54.315-121.3,121.302-121.3C430.9,242.606,485.212,296.919,485.212,363.906z
                                                 M454.89,363.906c0-50.161-40.81-90.976-90.98-90.976c-50.166,0-90.976,40.814-90.976,90.976c0,50.171,40.81,90.98,90.976,90.98
                                                C414.08,454.886,454.89,414.077,454.89,363.906z M121.305,181.955H60.652v60.651h60.653V181.955z M60.652,333.584h60.653V272.93
                                                H60.652V333.584z M151.629,242.606h60.654v-60.651h-60.654V242.606z M151.629,333.584h60.654V272.93h-60.654V333.584z
                                                 M30.328,360.891V151.628h333.582v60.653h30.327V94c0-18.421-14.692-33.349-32.843-33.349h-12.647v15.166
                                                c0,16.701-13.596,30.325-30.322,30.325c-16.731,0-30.326-13.624-30.326-30.325V60.651H106.14v15.166
                                                c0,16.701-13.593,30.325-30.322,30.325c-16.733,0-30.327-13.624-30.327-30.325V60.651H32.859C14.707,60.651,0.001,75.579,0.001,94
                                                v266.892c0,18.36,14.706,33.346,32.858,33.346h179.424v-30.331H32.859C31.485,363.906,30.328,362.487,30.328,360.891z
                                                 M303.256,242.606v-60.651h-60.648v60.651H303.256z M409.399,363.906h-45.49v-45.49c0-8.377-6.781-15.158-15.163-15.158
                                                s-15.159,6.781-15.159,15.158v60.658c0,8.378,6.777,15.163,15.159,15.163h60.653c8.382,0,15.163-6.785,15.163-15.163
                                                C424.562,370.692,417.781,363.906,409.399,363.906z" />
                                            </g>
                                        </svg>
              <p>დაჯავშნე</p>
            </div>
          </a>
        </li>
      </ul>
      <ul class="topBarMenu social" data-tracking-action="Clic réseaux sociaux">
        <li>
          <a href="https://www.facebook.com/jean.louis.david.officiel" target="_blank" class="iconContainer tracking-click" data-tracking-label="Facebook">
            <p class="fontAwesome">
              <span class="fa fa-facebook"></span>
            </p>
          </a>
        </li>
        <li>
          <a href="http://instagram.com/jeanlouisdavidfr" target="_blank" class="iconContainer tracking-click" data-tracking-label="Instagram">
            <p class="fontAwesome">
              <span class="fa fa-instagram"></span>
            </p>
          </a>
        </li>
        <li>
          <a href="http://www.pinterest.com/jeanlouisdavid" target="_blank" class="iconContainer tracking-click" data-tracking-label="Pinterest">
            <p class="fontAwesome">
              <span class="fa fa-pinterest-p"></span>
            </p>
          </a>
        </li>
        <li>
          <a href="http://www.youtube.com/user/JeanLouisDavidFR" target="_blank" class="iconContainer tracking-click" data-tracking-label="YouTube">
            <p class="fontAwesome">
              <span class="fa fa-youtube-play"></span>
            </p>
          </a>
        </li>
      </ul>


      <div id="topBarSalon">
        <p class="salon">Votre Salon</p>

        <p class="salonName">TROUVEZ UN SALON</p>

        <div id="salonSearchSubmenu" class="salonSubmenu active">
          <div class="wrap">
            <span class="salon-title">TROUVEZ LE SALON LE PLUS PROCHE DE CHEZ VOUS</span>


            <div class="locate">
              <p>Géolocalisez votre position</p>

              <div class="locateSign"></div>
            </div>

            <p class="underLocate">et affichez les salons de coiffure Jean Louis David près de chez vous</p>

            <p class="underLocate"></p>

            <p>ou</p>

            <form class="salonSearchForm">
              <input placeholder="Saisissez votre adresse ou le nom du salon" name="q" autocomplete="off">
              <div class="salonSearchForm__checkbox">
                <input type="checkbox" name="bar_a_styles" value="1">
                <span class="salonSearchForm__checkbox--title">Rechercher uniquement les
                                                salons avec un Bar à Styles</span>
                <span class="salonSearchForm__info salonSearchForm__info--header"></span>
                <div class="salonSearchForm__popup salonSearchForm__popup--header">
                  <p>Trouvez tous les salons pour réaliser un SPEED BRUSH, un SPEED CURL ou un SPEED UP-DO</p>
                </div>
              </div>

              <button type="submit">
                <p>Recherchez</p>
              </button>
            </form>
          </div>
        </div>
        <div id="salonChosenSubmenu" class="salonSubmenu ">
          <div class="wrap clearfix">
            <div class="salonSubmenuPics">
            </div>
            <div class="salonSubmenuText">
              <div class="pBlock">
                <p><span class="brandName"></span></p>

                <p> </p>


              </div>

              <div class="ulBlock">
                <div class="salonBookingButtonWrapper">
                </div>
                <ul>
                  <li>
                    <a class="viewSalon" href="">
                      <span>En savoir + sur mon salon</span>
                    </a>
                  </li>
                  <li>
                    <a class="changeSalon">
                      <span>Changer de Salon</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="salonChoseSubmenu" class="salonSubmenu">
          <div class="overlay">
          </div>
          <div class="wrap">
            <div class="salonMap" id="wb_salon_map"></div>
            <form class="salonSearchForm">
              <input placeholder="Nouvelle recherche" name="q" autocomplete="off">
              <button type="submit">
                <p>Recherchez</p>
              </button>
            </form>
            <div class="salonItemsContainer"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
