@import "assets/css/wb-auto-css.css";

#htopBarBlock {
  background-color: #000;
  height: 40px;
}

.nav-text {
  font-size: 19px;
  font-family: "BPG Arial Caps", sans-serif;

}

.footer_bg_color {
  background-color: #000000;
}

.foeter-but {
  background-color: #d4b26a;
  display: inline-block;
  height: 60px;
  margin: 15px;
  max-width: 208px;
  vertical-align: middle;
  width: 200px;
  padding: 1%;
  font-family: "BPG Arial Caps", sans-serif;

}

.featured-icon-box.icon-align-before-content.style3 {
  padding: 18px 0;
  border-bottom: 1px solid #3b3b3b;
}

.text_center {
  text-align: left;
  margin-left: 20px;
}
